@model List<Product>

@if (Model != null && Model.Count > 0)
{
    @foreach (var products in Model)
    {
        <div class="col-3 mb-3">
            <div class="card shadow">
                <img class="card-img-top product-img" src="@products.PhotoPath">
                <div class="card-body text-center">
                    <a class="text-success"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-id="@products.Id">
                        <h5>@products.Name</h5>
                    </a>
                    <h2 class="text-danger">@products.Cost.ToString("c")</h2>
                    <a class="btn btn-success mt-3"
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@products.Id">Добавить в корзину</a>
                    <a class="btn btn-outline-success mt-3"
                       asp-controller="Favorite"
                       asp-action="Add"
                       asp-route-productId="@products.Id">Добавить в избранное</a>
                    <a class="btn btn-success mt-3"
                       asp-controller="Сomparison"
                       asp-action="Add"
                       asp-route-productId="@products.Id">Сравнить товары</a>
                </div>
            </div>
        </div>
        // <p>@products.Id @products.Name @products.Cost</p>
    }
}
else
{
    <div class="text-center">
        <h2>Нет товаров для отображения!</h2>
    </div>   
}