@model List<Product> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var products in Model)
    {
        <div class="col-3 mb-3">
            <div class="card shadow">
                <img class="card-img-top product-img" src="@products.PhotoPath">
                <div class="card-body text-center">
                    <a class="text-success"
                       asp-controller="Product"
                       asp-action="Index"
                       asp-route-id="@products.Id">
                        <h5>@products.Name</h5>
                    </a>
                    <h2 class="text-danger">@products.Cost.ToString("c")</h2>
                    <a class="btn btn-success" 
                       asp-controller="Cart"
                       asp-action="Add"
                       asp-route-productId="@products.Id">Добавить в корзину</a>
                </div>
            </div>
        </div>
        // <p>@products.Id @products.Name @products.Cost</p>
    }
</div>
